body{
    font-family: 'Arial', sans-serif;
    background-color: #ecb1ff;
    color: #282828;
    margin: 20px;
}

.title{
    font-size: 2.1em;
    color: #6815ef;
}

.papucontainer{
    background-color: #00b3ff;
    /*width: 85vw;*/
    /*padding: 0.3em 0.3em 0.3em 0.3em;*/
}

.papu{
   /* background-color: #6815ef;*/
   width: 75vw;
}

.pictures{
    width: 640px;
}

.pictures2{
    width: 25vw;
}

.cards{
    border: solid 2px #bf116b;
    width: fit-content;
    /*margin: 0.4em;*/
    padding: 0.6em 1em 0.3em 1em;
    border-radius: 2.3%;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards:hover{
    background-color: #bca2fe;
}

#titleh2{
    font-size: 1.8em;
    color: #bf116b;
}

#titulo-borde{
    width: 65vw;
    background-color: antiquewhite;
    margin: auto;
}

#borde{
    border: 2px solid #6815ef;
    width: 45vw;
}

#titulo-borde2{
    border: 2px solid #bf116b;
    width: 45vw;
    margin: auto;
    padding: 1.2em;
}

#cards-container{
    background-color: rgb(174, 244, 255);
    width: 85vw;   /*85*/
    margin: auto;
    margin-top: 1.5em;
    border-radius: 1.3%;
    padding: 0.2em 0.2em 0.2em 0.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}